<a class="comment"><%="#{comment.content}" %></a>
<br>
<a class "author">posted by: <%="#{comment.author.username}"%></a>
<a class="karma">(Karma: <%=comment.sum_votes%>)
  <%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe, upvote_comment_url(comment), method: :post %>
  <%= link_to '<i class="fa fa-arrow-down"></i>'.html_safe, downvote_comment_url(comment), method: :post %>
<%= link_to "Show Comment", comment_url(comment) %></a>
  <% if !comments_by_parent[comment].empty? %>
    <ul>
      <% comments_by_parent[comment].each do |child| %>
      <li><%= render("comments/comment",
            comment: child,
            comments_by_parent: comments_by_parent) %></li>
      <% end %>
    </ul>
  <% end %>
