<%="#{comment.author.username} - #{comment.content}" %>
Karma: <%=comment.sum_votes%>
<%= button_to "Upvote", upvote_comment_url(comment) %>
<%= button_to "Downvote", downvote_comment_url(comment) %>
<%= link_to "Show Comment", comment_url(comment) %>
  <% if !comments_by_parent[comment].empty? %>
    <ul>
      <% comments_by_parent[comment].each do |child| %>
      <li><%= render("comments/comment",
            comment: child,
            comments_by_parent: comments_by_parent) %></li>
      <% end %>
    </ul>
  <% end %>
