<h1><%=@sub.title%></h1>
<a><%=@sub.description%></a>
<br>
<% if @sub.moderator == current_user %>
  <%= link_to "Edit Sub", edit_sub_url %>
  <br>
<% end %>
<%= render '/shared/errors' %>
<br><br>

<h2>Posts</h2>
<%= link_to "Add Post", new_post_url %>
<section class="sub-posts">
<ul>
  <% @sub.posts.each do |post| %>
  <li><%= link_to post.title, post_url(post) %>
  <br><%= post.content %>
  </li>
  <a class="karma">Karma: <%=post.sum_votes%></a>

  <%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe, upvote_post_url(post), method: :post %>
  <%= link_to '<i class="fa fa-arrow-down"></i>'.html_safe, downvote_post_url(post), method: :post %>
  <% end %>
</ul>
</section>

<%= link_to "Back To Sub Index", subs_url %>
